@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela&display=swap');

* {
  margin: 0;
  padding: 0;
}

.all {
  display: flex;
  flex-direction: column;
}

.sides {
  display: flex;
  flex-direction: row;
}

.navbar {
  height: 690px;
  width: 227px;
  background-color: #000;
  color: #b3b3b3;
  font-family: 'Varela Round', sans-serif;
}

.spotify {
  display: flex;
  align-items: center;
  color: #fff;
  height: 65px;
  padding: 10px 24px;
}

.spotifyText {
  font-size: 26px;
  margin-left: 5px;
}

.homeAbout {
  height: 120px;
}

.homeAboutElement a {
  color: #b3b3b3;
}

.rightSide {
  width: 1309px;
  height: 690px;
  overflow-y: scroll;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 25px;
  position: fixed;
  background-color: rgba(0,0,0,0);
  color: white;
  width: 1230px;
  font-family: 'Varela Round', sans-serif;
}

.header-icons {
  display: flex;
}

.header-icon {
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
  margin: 5px;
}

.time {
  margin-left: auto;
  font-size: 19px;
}

.topRight {
  height: 277px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
}

.FourTopRight {
  background: linear-gradient(to right, rgb(83,83,83), rgb(0,0,0));
}

.MadeInTopRight {
  background: linear-gradient(to bottom, rgb(255, 73, 1), rgb(0, 0, 0));
}

.albumImg {
  margin: auto 0 10px 20px;
}

.albumImg img {
  width: 230px;
}

.albumText {
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto 0 100px 15px;
  font-family: 'Roboto', sans-serif;
}

.albumText :nth-child(1) {
  font-size: 16px;
}

.albumText :nth-child(2) {
  font-size: 80px;
}

.albumText :nth-child(3) {
  font-size: 18px;
}

.bottomRight {
  height: 650px;
  background-color: #1A1A1A;
}

.spotify-logo {
  height: 50px;
  width: 50px;
}

.rightSide::-webkit-scrollbar {
  background-color: inherit;
  width: 12px;
  max-height: 30px;
}

.rightSide::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

.rightSide::-webkit-scrollbar-track:hover {
  background-color: #575555;
}

.rightSide::-webkit-scrollbar-thumb {
  background-color: #97979c;
}

.rightSide::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}

.rightSide::-webkit-scrollbar-button {
  display: none;
}

.bottomBar {
  height: 100px;
  width: 1536px;
  background-color: #2A2A2A;
}