@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela&display=swap');

/* ALL */

* {
  margin: 0;
  padding: 0;
}

.all {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.sides {
  display: flex;
  flex-direction: row;
}

.navbar {
  height: 690px;
  width: 227px;
  background-color: #000;
  color: #b3b3b3;
  font-family: 'Roboto', sans-serif;
}

.navbarHR {
  width: 85%;
  height: 0.0001%;
  border-top: 2px solid rgb(80,80,250);
  margin: 0 auto;
}

/* NAVBAR OR LEFT SIDE */
/* Spotify */

.spotify {
  display: flex;
  align-items: center;
  color: #fff;
  height: 65px;
  padding: 10px 24px;
}

.spotifyText {
  font-size: 26px;
  margin-left: 5px;
}

/* homeSearch */

.homeSearch {
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 10px 0;
}

.homeSearch li {
  height: 42px;
  width: inherit;
  list-style: none;
  cursor: pointer;
}

.homeSearch li:hover {
  background-color: #2A2A2A;
}

.homeSearchElement {
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 1.3rem;
}

.homeSearchIconText {
  margin-left: 10px;
  font-size: 1.3rem;
}

.homeSearchElement a {
  color: #b3b3b3;
  text-decoration: none;
}

/* DROPS */

.albumDrop, .playlistDrop {
  height: 40px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.albumDrop i, .playlistDrop i {
  margin-left: 5px;
  cursor: pointer;
}

.albumDrop a, .playlistDrop a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* Albums */

.albums, .playlists {
  height: 40px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.albumList, .playlistList {
  display: none;
}

.album, .playlist {
  display: flex;
  align-items: center;
  padding-left: 0;
  height: 28px;
  cursor: pointer;
  justify-content: center;
}

.album:hover, .playlist:hover {
  background-color: #2A2A2A;
}

.album a, .playlist a {
  color: white;
  text-decoration: none;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 25px;
  position: fixed;
  background-color: rgba(0,0,0,0);
  color: white;
  width: 81.95vw;
  height: 47px;
  font-family: 'Varela Round', sans-serif;
}

.header-icons {
  display: flex;
}

.header-icon {
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
  margin: 5px;
}

.signupLogin {
  padding: 10px;
  display: flex;
}

.signup button {
  background-color: orange;
  cursor: pointer;
  padding: 7px;
  border-radius: 20px;
  border: .1px solid white;
}
.signup button:hover {
  background-color: rgb(255, 145, 0);
}

.signup button a {
  color: black;
  text-decoration: none;
}

.login button {
  background-color: inherit;
  margin-left: 8px;
  cursor: pointer;
  padding: 7px;
  border-radius: 20px;
  border: .1px solid orange;
  color: orange;
}
.login button:hover {
  background-color: rgba(255, 153, 0, 0.767);
  color: black;
  border: .1px solid white;
}

.login button a {
  color: orange;
  text-decoration: none;
}

.time {
  margin-left: auto;
  font-size: 19px;
}

/* HOME */

.homepage {
  height: 588px;
  background-color: #1a1a1a;
  color: white;
  padding-top: 102px;
  padding-left: 20px;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.hpAlbumList {
  list-style: none;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hpAlbum {
  transition: transform .3s;
}

.hpAlbum:hover {
  transform: scale(1.1);
}

.hpAlbumList a{
  color: white;
  text-decoration: none;
}

.hpComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 200px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #96ccff;
  box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 0.5rem;
}

/* RIGHT SIDE */
/* COMMON */

.rightSide {
  width: 1309px;
  height: 690px;
  overflow-y: auto;
}

.topRight {
  background-color: #1a1a1a;
  padding-top: 50px;
  height: 280px;
  display: flex;
  font-family: 'Varela Round', sans-serif;
}

.bottomRight {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Varela Round', sans-serif;
}

/* TOP RIGHT */

.topRight img {
  width: 232px;
  height: 232px;
  border-radius: 5px;
  margin: 25px 0 0 20px;
}

.FourTopRight {
  background: linear-gradient(to bottom, rgb(83,83,83), rgb(0,0,0));
}

.MadeInTheAMTopRight {
  background: linear-gradient(to bottom, rgb(255, 102, 0), rgb(0, 0, 0));
}

.MidnightMemoriesTopRight {
  background: linear-gradient(to bottom, rgb(218, 22, 22), rgb(0, 0, 0) );
}

.TakeMeHomeTopRight {
  background: linear-gradient(to bottom, rgb(67, 9, 204), rgb(0, 0, 0));
}

.UpAllNightTopRight {
  background: linear-gradient(to bottom, rgb(200, 0, 0), rgb(0, 0, 0));
}

.topRightInfo {
  color: white;
  margin-left: 40px;
  padding-top: 105px;
}

.FirstLine {
  font-size: 0.95rem;
}

.SecondLine {
  margin-top: 5px;
  font-size: 4.5rem;
}

.ThirdLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  margin-top: 5px;
}

.ThirdLine h3 a {
  color: #fff;
  text-decoration: none;
}

.ThirdLine h3 a:hover {
  text-decoration: underline;
}

.ThirdLine h5 {
  font-size: 0.9rem;
  margin-top: 3px;
}

/* MIDDLE RIGHT */



/* BOTTOM RIGHT */

.songTitles {
  color: #b3b3b3;
  display: flex;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 10px;
  padding-top: 20px;
}

.titleHash {
  margin-left: 60px;
  margin-right: 50px;
}

.titleDuration {
  margin-left: auto;
  margin-right: 50px;
}

.songItem {
  height: 60px;
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.songItem:hover {
  background-color: #3a3a3a;
}
.songItem:hover .favoriteIcon {
  display: block;
}
.songItem:hover .songDuration {
  margin-left: 50px;
}
.songItem:hover .songNumber {
  display: none;
}
.songItem:hover .plauseIcon {
  display: block;
  margin-left: -7px;
  margin-right: -8px;
  color: #c9c9c9;
}
@keyframes greyToWhite {
  0% {color:#c9c9c9;}
  100% {color: white;}
}
.songItem:hover .plauseIcon:hover {
  animation: greyToWhite 0.3s;
  color: #fff;
}

.songNumberOrIcon {
  margin-left: 60px;
  margin-right: 46px;
  color: #b3b3b3;
}

.favoriteIcon {
  margin-left: auto;
  display: none;
}

.favoriteIcon i {
  cursor: default;
  color: #b3b3b3;
  transition: color 0.2s ease;
}

.favoriteIcon i:hover {
  color: rgb(0, 180, 0);
}

.songDuration {
  margin-left: auto;
  margin-right: 43px;
}

.plauseIcon, .playingGif {
  display: none;
  cursor: default;
  color: #b3b3b3;
  transition: color 0.5s ease;
}

.spotify-logo {
  height: 50px;
  width: 50px;
}

.rightSide::-webkit-scrollbar {
  background-color: inherit;
  width: 12px;
  max-height: 30px;
}

.rightSide::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

.rightSide::-webkit-scrollbar-track:hover {
  background-color: #575555;
}

.rightSide::-webkit-scrollbar-thumb {
  background-color: #97979c;
}

.rightSide::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}

.rightSide::-webkit-scrollbar-button {
  display: none;
}

/* LOGIN */

.loginComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 643px;
  background-color: rgb(66, 66, 66);
  color: white;
  margin-top: 47px;
  font-family: 'Varela Round',sans-serif;
}

.logInToSpotifyElement {
  font-size: 130px;
  position: absolute;
  top: 100px;
  color: rgba(0, 0, 0, 0.13);
}

#usernameInput, #passwordInput {
  width: 300px;
  height: 20px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}

#usernameInput {
  margin-top: 25.6px;
}

#wrongLogin {
  margin-bottom: 10px;
  background-color: red;
  padding: 5px 15px;
  font-size: 17px;
  display: none;
}

#showpassword {
  position: relative;
  top: -33px;
  left: 140px;
  background-color: black;
}

#loginSubmitBtn {
  margin-top: 10px;
  padding: 10px;
  width: 90px;
  height: 42px;
  border-radius: 20px;
  background-color: orange;
  cursor: pointer;
}

#loginSubmitBtn:hover {
  background-color: rgb(255, 145, 0);
}

/* BOTTOM BAR */

#bottomBar {
  height: 101px;
  width: 1536px;
  background-color: #2A2A2A;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
}

/* SONG INFO */

#songInfo {
  width: 28vw;
  display: flex;
  flex-direction: row;
}

#songInfoImg {
  margin: 8px 0 0 10px;
  border: 1px solid blue;
  height: 82px;
  width: 82px;
}

#songInfoImg img {
  width: 82px;
  height: 82.15px;
}

#songInfoText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  padding: 20px 0 0 15px;
  cursor: default;
}

#songInfoSongName {
  font-size: 19px;
  margin-bottom: 10px;
}

#songInfoSongArtist {
  font-size: 14px;
}

#songInfoSongArtist:hover {
  text-decoration: underline;
}

/* CONTROLS */

#controls {
  width: 45vw;
  height: 101px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: #b3b3b3;
}

#seekbar {
  width: 500px;
  height: 7px;
  margin-bottom: 10px;
}

#mainPlause {
  cursor: default;
  font-size: 40px;
  position: relative;
  margin: 0 5px 5px 5px;
  color: white;
}

#mainPlause:hover {
  font-size: 43px;
  margin: 0 3.3px 2.5px 3.3px;
}

#shuffle, #previous, #next, #repeat {
  margin: 0 5px;
  cursor: default;
  transition: color 0.1s ease-in;
}

#shuffle:hover, #previous:hover, #next:hover, #repeat:hover {
  color: white;
}

/* EXTRAS */  

#extras {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 27vw;
  color: white;
}